

body > header > h1{
font-family: 'Verdana', sans-serif;
margin-top: 90px;
font-size: 60px;
}

body > header > h2{
width: 555px;
position: absolute;
margin-top: -30px;
font-weight: normal;
}

body > header > h2:nth-child(3){
margin-top: 6px;
}

body > header > h2:nth-child(4){
margin-top: 42px;
}


h3{
margin-bottom: -25px;
border: solid;
}

body > header > div > div:nth-child(1) > ul > li{
margin-left: -38px;
}

body > main{
padding-top: 1px;
}

body > main > section.side_panel > ul > li:nth-child(1){
}

body > main > section.main_body > h3:nth-child(15){
margin-bottom: -5px;
}

#menu-outer {
	height: 84px;
	background: url(images/bar-bg.jpg) repeat-x;
}


#horizontal-list{
border-left-color: black;
border-style: double;
    margin-top: 42px;
    text-align: center;
    width: 954px;
    height: 30px;
    background: rgba(200,200,500);
}

#horizontal-list > li:nth-child(1){
text-align: center;
padding-left: 56.9px;
padding-right: 56.9px;
padding-top: 20px;
padding-bottom: 0px;
font-size: 20px;
background-color: #fff3e7;
position: absolute;
border-style: double;
margin-top: -21px;
height: 29px;
margin-left: -244px;
}

#horizontal-list > li:nth-child(2){
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 0px;
    font-size: 20px;
    background-color: #fff3e7;
    position: absolute;
    margin-left: 50px;
    border-style: double;
margin-top: -21px;
height: 29px;
width: 90px;
}

#horizontal-list > li:nth-child(1) a {
position: absolute;
margin-top: -5px;
margin-left: -56px;
font-weight: bolder;
}

#horizontal-list > li:nth-child(2) > a{
	position: absolute;
	font-size: 19px;
	margin-top: -17px;
    	margin-left: -80px;
	font-weight: bolder;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}

ul#horizontal-list li {
display: inline;
}



body {
background-color: #fff3e7;
margin: auto;
width: 1000px;
font-family: 'Helvetica';
}

body > header > div {
POSITION: absolute;
margin-left: 570px;
margin-top: -100px;
border-left: 10px solid;
}

body > header > div > div:nth-child(2) > ul > li:nth-child(3){
width: 300px;
}

body > main > section.side_panel{
margin-top: 50px;
}


body > main > section.side_panel > ul > li:nth-child(1){
	padding-bottom: 21px;
}


body > main > section.side_panel > ul > li{
	padding-top: 0px;
	padding-bottom: 8px;
}


body > main > section.horline{
margin-top: 112px;
margin-bottom: -50px;
}

body > main > section.main_body > ul:nth-child(3) > li{
	list-style: disc;
	padding-bottom: 0px;
}

body > main > section.main_body > ul:nth-child(6) > li{
	list-style: disc;
}

body > main > section.main_body > ul:nth-child(9) > li{
    list-style: disc;
	padding-bottom: 0px;
}

body > main > section.verline{
position: absolute;
    width: 10px;
    height: 1245px;
    border-right: 10px solid;
    margin-top: 47px;
    margin-left: 264px;
}

body > main > section.main_body{
margin-top: 50px;
padding-bottom: 65px;
}

body > main > section.main_body > ul:nth-child(3){
margin-top: 45px;
}

body > main > section.side_panel > ul > li:nth-child(1){
margin-bottom:-15px;
}

body > main > section.side_panel > ul:nth-child(4) > li:nth-child(1){
margin-bottom: -29px;
}

body > main > section.side_panel > ul:nth-child(4) > li:nth-child(2){
margin-bottom: -29px;
}

body > main > section.side_panel > ul:nth-child(4) > li:nth-child(3){
margin-bottom: -29px;
}

body > main > section.side_panel > ul > li:nth-child(1){
font-weight: bolder;
font-size: 17px;
}


body > main > section.side_panel > ul:nth-child(4) > li:nth-child(2) > p:nth-child(1){
text-decoration:underline;
}

body > main > section.side_panel > ul:nth-child(4) > li:nth-child(3) > p:nth-child(1){
text-decoration:underline;
}

body > main > section.side_panel > ul:nth-child(4) > li:nth-child(4) > p:nth-child(1){
text-decoration:underline;
}

div.items {
display: inline-block;
vertical-align: top;
}

li {
padding-top: 7px;
padding-bottom: 15px;
margin-left: -20px;
}


body > main > section.side_panel{
width: 250px;
position: absolute;
margin-top: 28px;
margin-left: 0px;
}

body > main > section.side_panel > ul:nth-child(4) > li:nth-child(3) > p:nth-child(2){
margin-top:-15px;
}

body > main > section.side_panel > ul:nth-child(4) > li:nth-child(2) > p:nth-child(2){
margin-top:-15px;
}

body > main > section.side_panel > ul:nth-child(4) > li:nth-child(4) > p:nth-child(2){
margin-top:-15px;
}

body > main > section.main_body > ul:nth-child(5) > li{
margin: -45px;
margin-top: -10px;
margin-left: -20px;
}

body > main > section.main_body > ul:nth-child(12) > li{
margin: -45px;
margin-top: -10px;
margin-left: -20px;
}

body > main > section.main_body > ul:nth-child(5) > li{
margin: -45px;
margin-top: -10px;
margin-left: -20px;
}

body > main > section.main_body > h4{
padding-top: 15px;
text-decoration:underline;
}

body > main > section.main_body > h4:nth-child(12){
margin-top: -5px;
}

body > main > section.main_body > p:nth-child(3){
position: relative;
margin-top: 50px;
}

body > main > section.side_panel > ul:nth-child(1){
border-bottom: 1px solid;
}

body > main > section.side_panel > ul:nth-child(2){
border-bottom: 1px solid;
}



body > header > div > div:nth-child(2){
position:absolute;
}

body > main > section.main_body {
width: 700px;
position: absolute;
margin-left: 300px;
margin-top: 28px;
}

body > main > section.Research > div{
margin-top: 937px;
}

body > main > section.main_body > section{
width: 1000px;
margin-left:-300px;
}

body > main > section.main_body > section > div > ul > li:nth-child(1){
	padding-top: 0px;
}

body > main > section.main_body > section > h3{
margin-top: 40px;
margin-bottom: -40px;
border: solid;
}

body > main > section.main_body > section > div > ul > li > h3{
border: none;
padding-bottom:10px;
}


body > main > section.main_body > section > div > ul > li > p{
margin-bottom: -30px;
}

body > main > section.main_body > section > div > ul > li:nth-child(4) > p{
margin-bottom: 0px;
}

body > header > div > div:nth-child(1) > ul{
	margin-left: 20px;
}


body > main > section.side_panel > ul:nth-child(4) > li{
padding-bottom: 20px;	
}


body > main > section.side_panel > ul:nth-child(3) {
    border-bottom: 1px solid;
}

body > main > section.main_body > h3:nth-child(10){
    margin-bottom: 15px;
}

body > main > section.main_body > ul:nth-child(12) > li{
    margin-left: -20px;
    padding-bottom: 20px;
    padding-top: 7px;
    margin-bottom: -20px;
    list-style: disc;
}

body > main > section.main_body > ul:nth-child(14) > li{
    margin-left: -20px;
    padding-bottom: 20px;
    padding-top: 7px;
    margin-bottom: -20px;
    list-style: disc;
}


body > main > section.main_body > ul{
margin-top: 40px;
margin-bottom: 40px;
}


body > header > div > div:nth-child(1) > ul > li{
list-style: none;
}

body > header > div > div:nth-child(2) > ul > li{
list-style: none;
}

body > main > section.side_panel > ul > li {
list-style: none;
}

body > main > section.main_body > ul:nth-child(13){
margin-top: -20px;
margin-bottom: -20px;
}


body > main > section.main_body > ul:nth-child(11){
margin-top: -20px;
margin-bottom: -20px;
}
